/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: Arial, sans-serif;  
}

img{
    width: 100%;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li{
    display: inline-block;
}

/* HEADER */
header{
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/* Header top */
.header-top{
    background-color: black;
    color: white;
    font-size: 30px;
    padding-right: 10px;
    height: 50px;
}

/* logo */
.header-top .logo-sony{
    width: 100px;
    height: 50px;
}

/* Header Bottom */
.header-bottom{
    height: 80px;
    line-height: 80px;
    font-weight: 500;
    background-color: white;
}

/* logo */
.header-bottom .logo-play{
    width: 90px;
    height: 80px;
}

@media all and (min-width:992px) {
    .header-bottom .logo-play{
        width: 55px;
        height: 55px;
    }
}

/* hamburger menu */
.header-bottom .hamburger-menu{
    font-size: 30px;
    color: gray;
}

/* Li header */
.header-bottom ul li::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.header-bottom ul li:hover::after{
    content: url(../img/chevron-down-solid-hover.svg);
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

.header-bottom ul li:hover{
    color: rgb(0, 112, 209);
    text-decoration: underline;
}

/* Lente */
.header-bottom .lens{
    width: 30px;
    height: 30px;
}

/* MAIN */

/* Jumbotron */
main .jumbotron{
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    color: white;
}

.returnal-jumbo{
    margin-top: 130px;
    background-image: url(../img/jumbo-bg.png);
}

/* Jumbo-content */
.jumbotron .jumbo-content-returnal{
    position: relative;
    top: 350px;
}

/* returnal */
.jumbotron .returnal-img{
    width: 350px;
    margin: 40px 0;
    display: block;
}

@media all and (min-width:768px) {
    .jumbotron .returnal-img{
        width: 450px;
    }
}

@media all and (min-width:992px) {
    .jumbotron .returnal-img{
        width: 300px;
    }
}

.jumbotron .title{
    font-size: 45px;
    margin: 40px 0;
}

.jumbotron p{
    font-size: 18px;
    margin: 40px 0;
}

@media all and (min-width:992px) {
    .jumbotron p{
        width: 50%;
    }
}

.jumbotron .acquista-btn{
    margin: 40px 0;
}

/* Lista Giochi */
.game-list{
    margin: 10px auto 70px;
    
}
.game-list .box{
    margin: 20px auto;
}

.game-list .box img{
    border-radius: 15px;
    padding: 2px;
}

/* Bordo box1 */
.s_border{
    border: 2px solid #0072ce;
    border-radius: 15px;
}

/* Play 5 */
.play .section-title .color-text{
    color: #0072ce;
    font-weight: 500;
}

.play h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.play p{
    color: #636363;
    font-size: 20px;
    font-weight: 500;
}

.play .section-title{
    margin-bottom: 50px;
}

/* Console */
.play a{
    margin-top: 15px;
}

/* Colonna con padding top */
@media all and (min-width:768px) {
    .play .col-padded-top{
        padding-top: 60px;
    }
}

@media all and (min-width:992px) {
    .play .col-padded-top{
        padding-top: 180px;
    }
    .play .h2-console{
        white-space: nowrap;
    }
}

/* Devices */
@media all and (min-width:768px) {
    .play .box-devices{
        padding: 10px;
    }
}
@media all and (min-width:992px) {
    .play .box-devices{
        padding: 15px;
    }
}

/* Secondo Jumbo */
.it-two-jumbo{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbotron .jumbo-content-it-two{
    position: relative;
    top: 80px;
}

@media all and (min-width:992px) {
    .jumbo-content-it-two .title{
        width: 50%;
    }
}

/* Nuove Uscite */
.nuove-uscite{
    background-color: black;
    color: white;
    padding: 40px 0;
}

.nuove-uscite h2{
    font-size: 40px;
}

.nuove-uscite p{
    font-size: 25px;
}

/* Box */
.nuove-uscite .uscite-box{
    margin: 30px auto;
}

.nuove-uscite .uscite-box img{
    border-radius: 15px;
    margin-bottom: 10px;
}

/* PlayStation 4 */
.play .play-4-top{
    margin: 60px 0 40px;
}

.play .box-ps4{
    margin-bottom: 30px;
}